<!DOCTYPE html>
<html>
  <head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>ObamaTrends</title>

      <link href="{{ url_for('static', filename='nv.d3.css') }}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='nv.d3.js') }}"></script>
    <script src="{{ url_for('static', filename='stream_layers.js') }}"></script>

    <link href="static/bootstrap.css" rel="stylesheet">
    <style>
        text {
            font: 12px sans-serif;
        }
        svg {
            display: block;
            float: left;
            height: 500px;
            width: 400px;
        }
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
    </style>

  </head>
  <!-- START BODY -->
  <body class='with-3d-shadow with-transitions'>
  <script src="http://d3js.org/d3.v3.js"></script>
  <!-- pie charts 
  <svg id="test1" class="mypiechart"></svg>
  <svg id="test2" class="mypiechart"></svg>

  <script>

    var testdata = [
        {key: "One", y: 5},
        {key: "Two", y: 2},
        {key: "Three", y: 9},
        {key: "Four", y: 7},
        {key: "Five", y: 4},
        {key: "Six", y: 3},
        {key: "Seven", y: 0.5}
    ];
    var testdata2 = [
        {key: "One", y: 5},
        {key: "Two", y: 2},
        {key: "Three", y: 9},
        {key: "Four", y: 7},
        {key: "Five", y: 4},
        {key: "Six", y: 3},
        {key: "Seven", y: 0.5}
    ];

    var height = 350;
    var width = 350;

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .width(width)
            .height(height);

        d3.select("#test1")
            .datum(testdata2)
            .transition().duration(1200)
            .attr('width', width)
            .attr('height', height)
            .call(chart);

        // update chart data values randomly
        setInterval(function() {
            testdata2[0].y = Math.floor(Math.random() * 10);
            testdata2[1].y = Math.floor(Math.random() * 10);
            chart.update();
        }, 4000);

        return chart;
    });

    nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            //.labelThreshold(.08)
            //.showLabels(false)
            .color(d3.scale.category20().range().slice(8))
            .growOnHover(false)
            .tooltipContent(function(key, y, e, graph) {
                return '<h3 style="padding: 5px; background-color: '
                        + e.color + '"><strong>Yo, the value is</strong></h3>'
                        + '<p style="padding:5px;">' +  y + '</p>';
            })
            .width(width)
            .height(height);

        // make it a half circle
        chart.pie
            .startAngle(function(d) { return d.startAngle/2 -Math.PI/2 })
            .endAngle(function(d) { return d.endAngle/2 -Math.PI/2 });

        // MAKES LABELS OUTSIDE OF DONUT
        //chart.pie.donutLabelsOutside(true).donut(true);

        d3.select("#test2")
            .datum(testdata)
            .transition().duration(1200)
            .attr('width', width)
            .attr('height', height)
            .call(chart);

        // disable and enable some of the sections
        var is_disabled = false;
        setInterval(function() {
            chart.dispatch.changeState({disabled: {2: !is_disabled, 4: !is_disabled}});
            is_disabled = !is_disabled;
        }, 3000);

        return chart;
    });
-->
<script>
var strData = '{{ results|safe }}';
var data = JSON.parse(strData);
var margin = {top: 50, right: 50, bottom: 30, left: 50},
    width = 400 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;
var parseDate = d3.time.format("%Y-%m-%dT%H").parse,
    formatPercent = d3.format(".0%");
var x = d3.time.scale()
    .range([0, width]);
var y = d3.scale.linear()
    .range([height, 0]);
var color = d3.scale.category20();
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");
var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(formatPercent);
var area = d3.svg.area()
    .x(function(d) { return x(d.date); })
    .y0(function(d) { return y(d.y0); })
    .y1(function(d) { return y(d.y0 + d.y); });
var stack = d3.layout.stack()
    .values(function(d) { return d.values; });
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
color.domain(d3.keys(data[0]).filter(function(key) { return key !== "date"; }));
data.forEach(function(d) {
    d.date = parseDate(d.date);
  });
console.log(data);
var sentiments = stack(color.domain().map(function(name) {
    return {
        name: name,
        values: data.map(function(d) {
            return {date: d.date, y: d[name] / 100};
        })
    };
}));
x.domain(d3.extent(data, function(d) { return d.date; }));
var sentiment = svg.selectAll(".sentiment")
    .data(sentiments).enter().append("g").attr("class", "sentiment");
sentiment.append("path").attr("class", "area")
    .attr("d", function(d) { return area(d.values); })
    .style("fill", function(d) { return color(d.name); });
sentiment.append("text")
    .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
    .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.y0 + d.value.y / 2) + ")"; })
    .attr("x", -6).attr("dy", ".35em").text(function(d) { return d.name; });
svg.append("g").attr("class", "x axis").attr("transform", "translate(0," + height + ")").call(xAxis);
svg.append("g").attr("class", "y axis").call(yAxis);
var title = "Obama Sentiment: Time Trend";
svg.append("text").attr("x", (width / 2)).attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle").style("font-size", "16px").text(title);
</script>
</body>
  <!-- END BODY -->
</html>
